<!DOCTYPE html>
<html>
<head>
    <title>Ingreso al Sistema</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="icon" type="image/x-icon" href="~/chat.ico" />
</head>
<body>
    @RenderBody()
</body>
</html>
